<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="card-deck">
  <div class="card">
    <%= button_to "Create new entry?", new_user_grocery_path, method: :get, class:"btn btn-primary col-12 text-center" %>
  </div>
  <div class="card">
      <%= button_to "No idea what to cook?", user_recipes_path(current_user), method: :get, class:"btn btn-outline-primary col-12 text-center" %>
    </div>


  <div class="card">
    <div class="box">
      <h3>My Groceries</h3>
        <hr class="mt-3 mb-2">
      <p>Today: <%=Time.now.strftime("%A, ")%><%=Date.today.to_formatted_s(:rfc822)%></p>

<div class="ui-widget form-inline mb-2">
  <input id="tags" type="text" placeholder="Search.." class='form-control col-8 mr-2 mb-2'>
  <button id='tag-find' class='btn-sm btn-primary mr-2 mb-2'>Find!</button>
  <button id='stop-search' class='btn-sm btn-default mb-2' style="display: none;">Clear</button>
</div>

        <table class="table table-hover">
      <thead>
        <tr>
          <th>Item</th>
          <th style="text-align:center">Expiry Date</th>
          <th style="text-align:center">Actions</th>
          </tr>
      </thead>

      <tbody id='original-index'>
        <% @groceries.each_with_index do |grocery,i| %>
            <tr data-toggle="collapse" data-target="#entry-<%=i%>" aria-expanded="false" aria-controls="collapseExample">
              <% if grocery.expired?%>
                <td style="color:red"><%=grocery.ingredient%></td>
                <td nowrap style="text-align:center; color:red"><%=grocery.expired_date%></td>
              <% else %>
                <td><%=grocery.ingredient%></td>
                <td nowrap style="text-align:center"><%=grocery.expired_date%></td>
              <% end %>
              <td style="text-align:center"><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_user_grocery_path(grocery.user, grocery) %>
              &nbsp&nbsp&nbsp<%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, user_grocery_path(grocery.user, grocery), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
      <%# Search results %>
      <tbody id='search-index' style="display: none;">
      </tbody>
      
      </table>
    </div>
  </div>
</div>

<style>
.card {   
    top: 3vh;
    margin: 0 auto;
    width:350px;
    min-height:5px;
    background:#fff;
    box-shadow: 0.2em 0.2em 0.8em 0.1em rgba(83, 83, 83, 0.3);
    border-radius:0.5em;
    transition:0.5s;
}
.box {
    margin: 20px;
}

</style>


<script>
  $( function() {
    var availableTags = [
      <%@groceries.each do |g|%>
        "<%=g.ingredient%>",
      <% end %>
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );

  $('#tag-find').click( function() {
    console.log($('#tags').val())

    $('#tags').removeClass('col-8').addClass('col-6');
    $('#stop-search').show();

    fetch('/index_search', {
        method: 'post',
        body: JSON.stringify({search: {value: $('#tags').val()}}),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': Rails.csrfToken()
        },
        credentials: 'same-origin'
        }).then(function(response) {

        response.json().then(function(data){
          $('#original-index').hide()
          $('#search-index').empty()

          $.each(data, function(i,g){
            const today = new Date()
            const day = today.getDate()
            const month = today.getMonth() + 1
            const year = today.getFullYear()
            if (g.expired_date <= (year+'-'+month+'-'+day)) {
              const table_row = $("<tr></tr>")
              const table_data_name = $('<td style="color:red"></td>').html(g.ingredient)
              const table_data_date = $('<td style="text-align:center; color:red"></td>').html(g.expired_date)
              const table_data_btn = $('<td style="text-align:center"></td>').html("<a href=\"/users/<%=current_user.id%>/groceries/"+ g.id +"/edit\"><i class=\"icon-ok icon-white\"></i>	✎</a>" + "&nbsp;&nbsp;&nbsp;" + "<a data-confirm=\"Are you sure?\" rel=\"nofollow\" data-method=\"delete\" href=\"/users/<%=current_user.id%>/groceries/"+ g.id + "\"><i class=\"icon-ok icon-white\"></i>	✘</a>")
              new_table = table_row.append(table_data_name).append(table_data_date).append(table_data_btn)
              $('#search-index').append(new_table)
            }
            else{
              const table_row = $("<tr></tr>")
              const table_data_name = $('<td></td>').html(g.ingredient)
              const table_data_date = $('<td style="text-align:center"></td>').html(g.expired_date)
              const table_data_btn = $('<td style="text-align:center"></td>').html("<a href=\"/users/<%=current_user.id%>/groceries/"+ g.id +"/edit\"><i class=\"icon-ok icon-white\"></i>	✎</a>" + "&nbsp;&nbsp;&nbsp;" + "<a data-confirm=\"Are you sure?\" rel=\"nofollow\" data-method=\"delete\" href=\"/users/<%=current_user.id%>/groceries/"+ g.id + "\"><i class=\"icon-ok icon-white\"></i>	✘</a>")
              new_table = table_row.append(table_data_name).append(table_data_date).append(table_data_btn)
              $('#search-index').append(new_table)            
            }
          })

          $('#search-index').show()

        })
    }) 

  });

  // Return back the old index
  $('#stop-search').click( function() {
    $('#tags').removeClass('col-6').addClass('col-8');
    $('#stop-search').hide();
    $('#original-index').show();
    $('#search-index').empty();
  });

  // Code to run when enter key is run, and has an id enterKey
  $('#tags').bind("enterKey",function(e){
    console.log($('#tags').val())

    $('#tags').removeClass('col-8').addClass('col-6');
    $('#stop-search').show();

    fetch('/index_search', {
        method: 'post',
        body: JSON.stringify({search: {value: $('#tags').val()}}),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': Rails.csrfToken()
        },
        credentials: 'same-origin'
        }).then(function(response) {

        response.json().then(function(data){
          $('#original-index').hide()
          $('#search-index').empty()

          $.each(data, function(i,g){
            const today = new Date()
            const day = today.getDate()
            const month = today.getMonth() + 1
            const year = today.getFullYear()
            if (g.expired_date <= (year+'-'+month+'-'+day)) {
              const table_row = $("<tr></tr>")
              const table_data_name = $('<td style="color:red"></td>').html(g.ingredient)
              const table_data_date = $('<td style="text-align:center; color:red"></td>').html(g.expired_date)
              const table_data_btn = $('<td style="text-align:center"></td>').html("<a href=\"/users/<%=current_user.id%>/groceries/"+ g.id +"/edit\"><i class=\"icon-ok icon-white\"></i>	✎</a>" + "&nbsp;&nbsp;&nbsp;" + "<a data-confirm=\"Are you sure?\" rel=\"nofollow\" data-method=\"delete\" href=\"/users/<%=current_user.id%>/groceries/"+ g.id + "\"><i class=\"icon-ok icon-white\"></i>	✘</a>")
              new_table = table_row.append(table_data_name).append(table_data_date).append(table_data_btn)
              $('#search-index').append(new_table)
            }
            else{
              const table_row = $("<tr></tr>")
              const table_data_name = $('<td></td>').html(g.ingredient)
              const table_data_date = $('<td style="text-align:center"></td>').html(g.expired_date)
              const table_data_btn = $('<td style="text-align:center"></td>').html("<a href=\"/users/<%=current_user.id%>/groceries/"+ g.id +"/edit\"><i class=\"icon-ok icon-white\"></i>	✎</a>" + "&nbsp;&nbsp;&nbsp;" + "<a data-confirm=\"Are you sure?\" rel=\"nofollow\" data-method=\"delete\" href=\"/users/<%=current_user.id%>/groceries/"+ g.id + "\"><i class=\"icon-ok icon-white\"></i>	✘</a>")
              new_table = table_row.append(table_data_name).append(table_data_date).append(table_data_btn)
              $('#search-index').append(new_table)            
            }
          })

          $('#search-index').show()

        })
    })  

  });

  // Event when enter is pressed in tags input form
  $('#tags').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });
</script>

